body {
  background: #24353f;
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  
}
.group {
  box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}

input{
    color: #fff !important;
    background-color: transparent !important;
}
input::placeholder{
  color: #ced4da !important;
}
